/* universal style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.text-crimson{
    color: crimson;
}
.linked-button{
    padding: .7rem 2rem;
    border-radius: .3rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.03em;
    font-weight: bold;
    background-color: rgb(11, 168, 147);
    display: inline-block;
    margin: 1.3rem 0 2rem;
    font-family: 'Exo', sans-serif;
}
body>section{
    padding: 0 10%;
}
p{
    color: rgb(41, 41, 41);
}



/* ------------------------------------------- */
/* top section of the website */
.mission-focus{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items:flex-end;
}
.half-width{
    flex: 0 0 45%;
}
.half-width h1{
    font-size: 3.5em;
    padding-left: .8rem;
    color: rgb(19, 19, 19);
}
.mission-title{
    display: flex;
    margin-bottom: 2rem;
}
.bar{
    align-self: stretch;
    width: 6px ;
    border-radius: 10rem;
    background-color: rgb(11, 168, 147);
}
.half-width p{
    font-size: 1.1em;
    line-height: 1.5;
    padding-right: 1rem;
}
.half-width img{
    display: block;
    width: 80%;
    margin-left: 2rem;
}




/* ------------------------------------------- */
/* My mission area & it's three card section */
.mission-card-area{
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.mission-card-area h2{
    font-size: 2.7em;
    text-align: center;
}

.card-layer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}
.card-layer>div{
    flex: 0 0 32%;
    height: 23rem;
    border-radius: 1.5rem;
    padding: 2rem;
}
.bg-lBlue{
    background-color: rgba(173, 216, 230, 0.507);
}
.bg-lPink{
    background-color: rgba(255, 182, 193, 0.507);
}
.bg-lCyan{
    background-color: lightcyan;
}

.card-layer>div>img{
    width: 50%;
    display: block;
}
.card-layer>div>h3{
    margin: 1rem 0;
    font-size: 1.5em;
}
.card-layer>div>p{
    line-height: 1.3;
}


/* ------------------------------------------- */
/* Develop without limits (1 image left + 1 div conatining text right) section */
/* Know our Global community (1 div conatining text left + 1 image right) section */
.image-documentation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
}
.flex-image{
    flex: 0 0 35%;
}
.flex-text{
    flex: 0 0 58%;
}

.image-documentation>div>img{
    width: 100%;
}

.flex-text>h4{
    font-size: 2em;
}
.flex-text>h3{
    font-size: 2.2em;
    margin: 1rem 0 2rem;
}
.flex-text>p{
    font-size: 1.2em;
    line-height: 1.5;
}



/* ------------------------------------------- */
/* my creative idea section */
.mern{
    margin: 5rem 0 3rem;
}
.mern>h2{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 3rem;
}

.mern-card{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 35rem;
}
.mern-card>div{
    flex: 0 0 24.8%;
    height: 23rem;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
}
.mern-card>div>img{
    align-self: center;
    height: 9rem;
}
.mern-card>div>h3{
    font-size: 1.3em;
    margin: .5rem 0;
}
.mern-card>div>p{
    line-height: 1.33;
}
.mern-start{
    align-self: flex-start;
}
.mern-end{
    align-self: flex-end;
}
.mongodb{
    background-color: rgba(0, 192, 0, 0.2);
}
.expressjs{
    background-color: rgba(240, 128, 128, 0.30);
}
.reactjs{
    background-color: rgb(85, 149, 170,0.20);
}
.nodejs{
    background-color: rgba(150, 248, 199, 0.45);
}



/* ------------------------------------------- */
/* footer section */
footer{
    height:15rem;
    background-color: rgb(7, 11, 19);
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
footer>h3{
    font-size: 2em;
}
.footer-highlight{
    color: rgb(255, 162, 80);
}
footer>p{
    color: white;
}